<launch>
  <arg name="rviz" default="false" />
  <arg name="odom_topic" default="/odom" />
  <arg name="odom_child_frame" default="base_link" />

  <include file="$(find fast_lio)/launch/mapping_unilidar_l2.launch">
    <arg name="rviz" value="$(arg rviz)" />
  </include>

  <node pkg="unilidar_fastlio_bridge" type="republish_fastlio_odom.py"
        name="fastlio_odom_republisher" output="screen">
    <param name="input_topic" value="/Odometry" />
    <param name="output_topic" value="$(arg odom_topic)" />
    <param name="frame_id" value="odom" />
    <param name="child_frame_id" value="$(arg odom_child_frame)" />
  </node>
</launch>
